<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form (submit)="continue()" #loginForm="ngForm">
        <h2>Please sign in</h2>
        <mat-error *ngIf="!validLogin">
          Invalid username or password
        </mat-error>
        <mat-form-field class="full-width-input">
          <input type="email" matInput [(ngModel)]="email" name="email" placeholder="Email Address"
            required="" autofocus="" #emailInput="ngModel"/>
          <mat-error *ngIf="!emailInput.valid || emailInput.pristine">
            Email is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Password" required=""
            #passwordInput="ngModel"/>
          <mat-error *ngIf="!passwordInput.valid || passwordInput.pristine">
            Password is required
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="btn btn-lg btn-primary btn-block" type="submit"
          [disabled]="!loginForm.form.valid">
          Continue
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
