<mat-table #table [dataSource]="dataSource">
  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.date | date:'dd-MM-yyyy'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="recipient">
    <mat-header-cell *matHeaderCellDef>Recipient</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.recipient}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.amount | currency: element.currency:'symbol'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element"><a (click)="openTransaction(element)">
      <mat-icon>search</mat-icon>
    </a></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
