@import '~@angular/material/theming';

mat-toolbar {
  @include mat-elevation(6);

  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
  }
}

app-logo {
  display: flex;
  margin-right: 10px;
}
