<dl>
  <dt class="item-title">
    Date
  </dt>
  <dd>
    {{transaction.date  | date:'dd-MM-yyyy' }}
  </dd>
  <dt class="item-title">
   From Account
  </dt>
  <dd>
    {{transaction.fromAccount}}
  </dd>
  <dt class="item-title">
    To Account
   </dt>
   <dd>
     {{transaction.toAccount}}
   </dd>
  <dt class="item-title">
    Amount
  </dt>
  <dd>
    {{transaction.amount}}
  </dd>
  <dt class="item-title">
    Reference
  </dt>
  <dd>
    {{transaction.reference}}
  </dd>
  <dt class="item-title">
    Description
  </dt>
  <dd>
    {{transaction.description}}
  </dd>
</dl>
