<mat-table [dataSource]="dataSource">
  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.date | date:'dd-MM-yyyy'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="fromAccount">
    <mat-header-cell *matHeaderCellDef>From Account</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fromAccount}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="toAccount">
    <mat-header-cell *matHeaderCellDef>To Account</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.toAccount}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="reference">
    <mat-header-cell *matHeaderCellDef>Reference</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.reference}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.amount | currency: element.currency:'symbol'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element"><button mat-icon-button (click)="openTransaction(element)">
      <mat-icon>search</mat-icon>
    </button></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
